body {
    margin:0;
    font-family: sans-serif;
}    

.box {
     /* если карточек будет много-чтобы "box" увеличивался */
    min-height: 100vh;
    padding: 100 px;
    /* чтобы "padding" не увеличивал размер нашего тега*/
    box-sizing: border-box; 
    /* display: flex; */
    /* чтобы карточка расставлялась верно (работает только с 'flex') */
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: center;
    align-items: center;
    /* если элементы могут не уместиться в один ряд */
    flex-wrap: wrap;
    align-content: center;
    background-image: radial-gradient(circle, #f0b2ab, #a3d8cf, #cd89d6);
}

.card {
    /* виден курсор при наведении мышкой */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    /* тень по оси X, по оси Y, размытие, цвет */
    box-shadow: 1px 1px 5px #02a298aa;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
    background-color: #fff5;
}

/* при наведении на нашу карточку */
.card:hover{ 
     /* увеличивается по оси X и по оси Y*/
    transform: scale(1.02,1.02); 
    /* последние 2 цифры - это процент прозрачности */
    box-shadow: 1px 1px 5px #02a298aa, 
    1px, 1px, 15px, #02a298aa;
    /* у нас наружная тень, есть еще внутренняя тень "insert" */
}